/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.mk_searchview_info {
	cursor: default;
	position: absolute;
	top: 6px;
	right: 7px;
}

.mk_document_dropzone::before {
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	content: "";
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-image: url('/muk_dms/static/src/img/dropszone.png');
}        