/**********************************************************************************
* 
*    Copyright (C) 2017 MuK IT GmbH
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Affero General Public License as
*    published by the Free Software Foundation, either version 3 of the
*    License, or (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.o_info_file {
	padding: 20px 30px 20px 30px;

	.o_info_file_icon {
		    
		img {
			width: 100%;
			height: 100%;
			min-width: 60px;
			min-height: 60px;
			max-width: 150px;
			max-height: 150px;
			margin-top: 25px;
		}
	}

	.o_info_file_table > tbody > tr {
		border-top: 1px solid rgb(221, 221, 221);
	}

	.o_info_file_table > tbody > tr:first-child {
		border-top: 0;
	}

	.o_info_file_table > tbody > tr > td {
		border-top: 0;
	}
}        